<div class="pt-20 bg-slate-50 min-h-screen" id="propiedades">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-10 mb-8">
    <div class="flex items-center justify-between">
      <div>
        <h1 class="text-3xl font-extrabold text-brand-dark font-sans">Catálogo de Propiedades</h1>
        <p class="text-gray-500 mt-2">Explora todas nuestras propiedades disponibles para venta y alquiler.</p>
      </div>
      <div class="text-sm font-bold text-brand-blue bg-brand-blue/10 px-4 py-2 rounded-xl">
        {{ propertiesList.length }} Propiedades
      </div>
    </div>
  </div>

  <app-featured-properties [properties]="propertiesList"></app-featured-properties>
  <app-cta-banner></app-cta-banner>
</div>